.Poppins{
    font-family: 'Poppins';
}
.Roboto{
    font-family: 'Roboto';
 }
.Open-Sans{
    font-family: 'Open Sans';
 
}
.Lato{
    font-family: 'Lato';
 
}
 .Montserrat{
    font-family: 'Montserrat';
}
