
.settings-container{
    width: 100%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
    padding: 3%;
    height: 80%;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
}
.settings-container p{
    color: #29A263;
    font-size: 1.3em;
    text-decoration: underline;
    
}

.settings-container label{
    font-size: 1.3em;
    color: #676767;
}
.settings-container input{
    width: 60%;
    height: 1em;
    border-radius: 8px;
    border: 1.5px solid #3E3E3E;
    padding: 1.5%;
}

.settings-container button{
    width: 15%;
    height: 12%;
    background-color: #28A263;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2%;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:85% ;
    margin-top: 2%;
}
.settings-container button p{
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}
.settings-container button:hover{
    color: #6e6f6e;
}
.settings-container .error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.settings-container input {
  width: 100%;
  height: 10%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.settings-container button:hover {
  background-color: #218838;
}
@media (max-width: 456px) {
    .settings-container{
        width: 95vw;
        height: 77vh;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 1%;
        padding: 3%;
        display: flex;
        flex-direction: column;
    }
    .settings-container p{
        color: #29A263;
        font-size: 1.2em;
        text-decoration: underline;
        
    }
    
    .settings-container label{
        font-size: 1em;
        color: #676767;
    }
    .settings-container input{
        width: 60%;
        height: 1em;
        border-radius: 8px;
        border: 1.5px solid #3E3E3E;
        padding: 1.5%;
    }
    
    .settings-container button{
        width: 40%;
        height: 12%;
        background-color: #28A263;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 2%;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 85%;
    }
    .settings-container button p{
        font-size: 1.2em;
        text-decoration: none;
        color: white;
    }
    .settings-container button:hover{
        color: #6e6f6e;
    }
    .settings-container .error {
      color: red;
      font-size: 0.8em;
      margin-top: 0.2em;
      margin-bottom: 0.5em;
    }
    
    .settings-container input {
      width: 100%;
      height: 10%;
      padding: 0.5em;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .settings-container button:hover {
      background-color: #218838;
    }
}